<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
  
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^inbelitung.my.id [NC]
  RewriteRule ^(.*)$ https://www.sewamobilbelitung.my.id/$1 [L,R=301]
</IfModule>
