<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
  
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^inbelitung.my.id [NC]
  RewriteRule ^(.*)$ https://www.inbelitung.my.id/$1 [L,R=301]
</IfModule>


 Redirect /s https://www.inbelitung.my.id
 Redirect /search https://www.inbelitung.my.id
 Redirect /2023/06/destinasi-wisata-di-pulau-belitung.html https://www.inbelitung.my.id
 Redirect /2018/10/snorkeling-di-belitung-ini-dia-lokasi.html https://www.inbelitung.my.id
 Redirect /2024/* https://www.inbelitung.my.id
